.container {
    margin: 0 auto;
    max-width: 990px;
    overflow: auto;
    text-align: center;
}

.songCollection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    padding-top: 1vh;
  }
  
  .songGrid {
    display: flex;
    justify-content: center;
    margin: .5rem;
    height: 250px;
    width: 250px;
  }
  
  .songBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: double;
    border-color: black;
    padding: 1rem;
    padding-right: 2rem;
    transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100vh;
    background-size: contain;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px gray;
  }

  /* .songBox backgroundImage{
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  } */
  
  .songBox:hover{
    transform: scale(1.1)
  }