.container {
    margin: 0 auto;
    max-width: 990px;
    overflow: auto;
    text-align: center;
}

.songFields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.userSongCollection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    overflow: hidden;
    height: 110vh;
    width: 110vh;
    padding-top: 2vh;
   
  }
  
  .songGrid {
    display: flex;
    justify-content: center;
    margin: .5rem;
    height: 300px;
    width: 300px;
  }
  
  .songBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: double;
    border-color: black;
    padding: 1rem;
    padding-right: 2rem;
    transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100vh;
    background-size: contain;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px gray;
    justify-content: space-evenly;
  }
  
  .songBox:hover{
    transform: scale(1.1)
  }

  h1 {
    padding-bottom: 1rem;
  }

  .displaySongsComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }